/* ============ BOOTSTRAP OVERRIDES =======  */
html, body {
  margin: 40px 0 0 0;
  height: 100%;
}
body {
  margin-top:40px;
  font-family: 'Varela', Verdana, sans-serif;
  color:black;
}
.navbar {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  opacity: .8;
  z-index:2;
}
.container{
  padding:0;
}
.navbar-brand {
  font-weight: bold;
  font-size: 2em;
}
nav.navbar {
  background-color: dodgerblue;
}
/* override the gray link from navbar.less */
.navbar-default .navbar-nav>li>a {
  color:white;
}
.navbar-default .navbar-nav>li>a:hover{
  color: #555;
  background-color: #e7e7e7;
}
/*navbar links*/
.navbar a, .navbar-brand{
  color: white;
}
.navbar-default .navbar-brand {
  color: white;
  transition: letter-spacing 0.5s ease;
}
.navbar-default .navbar-brand:hover {
  letter-spacing: .05em;
}
.panel, .well, .navbar {
  border-radius: 0px;
}
li.navbar-brand, li.navbar-brand a, li.navbar-brand a:hover {
  list-style:none;
  text-decoration: none;
}
.panel-default>.panel-heading {
  background-color: white;
}
/*=========== GRAPH STYLING  ===========*/
path {
  stroke: #A6E22E;
  stroke-width: 3;
  fill: none;
}

.axis {
  shape-rendering: crispEdges;
}
svg#serverGraph {
  position: relative;
  align-content: center;
}
.xAxis-title {
  text-align: center;
}
.xAxis-subtitle {
  text-align: center;
  color: gray;
}
.linegraph-title{
  text-align: center;
}
.x.axis line {
  stroke: lightgrey;
}
.x.axis .minor {
  stroke-opacity: .5;
}
.x.axis path {
  /*display: none;*/
  stroke: #000;
}
.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}
.AppViewHeaderText {
  /*color: red;*/
  text-align: left;
}
.appsbar {
  fill: dodgerblue;
}
.appsbar:hover {
  fill: #A6E22E;
}
.axisM {
  font: 10px sans-serif;
}
.axisM path,
.axisM line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.x.axisM path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
.d3-tip span {
  color: #A6E22E;
}
/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/*=======================================*/

/*========= My Server Styling =============*/

::-webkit-scrollbar {
    width: 0px;
}
.server-route-list {
  max-height: 478px;
  overflow-y: scroll;
  overflow-x: hidden;
}
/*=================================*/

/*========= MONOKAI THEME COLORS =============*/
.background-dark {
  background-color: #272822;
}
.background-light {
  background-color: #686868;
}
.text-light {
  color: #c1c1c1;
}
.text-red {
  color: #F92672;
}
.text-blue {
  color: dodgerblue;
}
.text-orange {
  color: #FD971F;
}
.text-yellow {
  color: #e6db74;
}
.text-green {
  color: #A6E22E;
}
/*=================================*/


/*=========== ALL APPS PAGE STYLING ============*/

button {
  color: #272822;
}
.table {
  table-layout:fixed;
  margin-bottom: 0px;
}
.table td {
  overflow-wrap: break-word;
  word-wrap: break-word;
}
/*============================================*/
/*=========== WELCOME PAGE STYLING ============*/
.loginJumbo {
  background-color: white;
}
.jumbo-image{
  background-size:cover;
  height:100%;
}
.container-fluid .jumbotron{
  border-radius: 0px;
  height: 70vh;
}
.container-fluid .jumbotron > .row {
  height: 100%;
}
.technologies {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}
.techbadge{
  margin:.3em;
  max-width:10em;
  max-height:10em;
}
.layout-middle {
  height: 70vh;
  padding:0;
  margin: 4em 0 4em 0;
}
.layout-middle-row,
.layout-middle-row > div{
  height: 100%;
  overflow: hidden;
}
.layout-middle-img-cover {
  background-size: cover;
  opacity:.7;
}

.layout-middle-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10em;
  padding-right: 10em;
  background-color: #fffcf4;
}
.tour-button {
  width:8em;
  height: 8em;
}

/* ============== BAR GRAPH STYLING ============= */
.barGraph rect {
  fill: dodgerblue;
}
.barGraph rect:hover {
  fill: #A6E22E;
}
.barGraph text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

svg.barGraph {
  width: 100%;
  overflow:visible;
}
/* =========================================== */

.MainPageAppView .panel-heading:hover {
  color: white;
  background-color: #FD971F;
  cursor: pointer;
}
.loading {
  visibility: hidden;
}

/*=========== Add Load Balancer ============*/

.sampleSnippet {
  display: inline-block;
  padding: 25px;
  background-color: #FFEBEB;
}


/* =============== about page ==================== */
.team-member {
  min-height:100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  align-content:center;
}

/* ============================================== */
