/* ============ BOOTSTRAP OVERRIDES =======  */
html, body {
  margin: 80px 0 0 0;
  height: 100%;
}
body {
  margin: 40px 0 0 0;
  font-family: 'Varela', Verdana, sans-serif;
  color:black;
  /* Margin bottom by footer height */
}
.btn.btn-success, .btn.btn-primary {
  background-color: dodgerblue;
  border: none;
}
.btn.btn-success:hover, .btn.btn-primary:hover {
  background-color: #A6E22E;
  border: none;
}
.btn.btn-success:focus, .btn.btn-primary:focus {
  background-color: dodgerblue;
  border: none;
}
/* for the login and about pages */
.outerContainer{
  position: relative;
}
.mainContainer{
  padding: 0 0 280px 0;
}

#app {
  margin: 0 0 0 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(255,252,244, .7);
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  width: 100%;   
}
.footer-row-brand{
  width:100%;
  margin :0 3em 0 3em;
  padding: 0;
}
.footer-row {
  width:100%;
  display:flex;
  margin :0 3em 0 3em;
  padding: 2em 0 2em 0;
  flex-flow: row nowrap;
  justify-content: center;
}
.footer-col {
  width:100%;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 1em 0 1em 0;
}
.footer-row > .col {
}
.navbar {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  opacity: .8;
  z-index:2;
}
.container{
  padding:0;
}
nav.navbar {
  background-color: dodgerblue;
}
.navbar-header{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.navbar>.container-fluid .navbar-brand{
  margin-left: -5px;
  font-weight: bold;
  font-size: 2em;
  color: white;
  transition: letter-spacing 0.5s ease;
}
.navbar-header img  {
  transition: all 0.5s ease;
}
.navbar-header:hover > img {
  transform: rotate(18deg);
}
.navbar-header:hover li.navbar-brand {
  letter-spacing: .05em;
}

/* override the gray link from navbar.less */
.navbar-default .navbar-nav>li>a {
  color:white;
}
.navbar-default .navbar-nav>li>a:hover{
  color: #555;
  background-color: #e7e7e7;
}
/*navbar links*/
.navbar a, .navbar-brand, .navbar a:active{
  color: white;
  outline: 0;
  transition: all .3s ease;
}
.panel, .well, .navbar {
  border-radius: 0px;
}
li.navbar-brand, li.navbar-brand a, li.navbar-brand a:hover {
  list-style:none;
  text-decoration: none;
}
.panel-default>.panel-heading {
  background-color: white;
}
/*=========== GRAPH STYLING  ===========*/
path {
  stroke: #A6E22E;
  stroke-width: 3;
  fill: none;
}

.axis {
  shape-rendering: crispEdges;
}
svg#serverGraph {
  position: relative;
  align-content: center;
}
.xAxis-title {
  text-align: center;
}
.xAxis-subtitle {
  text-align: center;
  color: gray;
}
.linegraph-title{
  text-align: center;
}
.x.axis line {
  stroke: lightgrey;
}
.x.axis .minor {
  stroke-opacity: .5;
}
.x.axis path {
  /*display: none;*/
  stroke: #000;
}
.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}
.AppViewHeaderText {
  /*color: red;*/
  text-align: left;
}
.appsbar {
  fill: dodgerblue;
}
.appsbar:hover {
  fill: #A6E22E;
  transition: all .4s ease;
}
.axisM {
  font: 10px sans-serif;
}
.axisM path,
.axisM line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.x.axisM path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  transition: all .4s ease;
}
.d3-tip span {
  color: #A6E22E;
}
/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/*=======================================*/

/*========= My Server Styling =============*/

::-webkit-scrollbar {
    width: 0px;
}
.server-route-list {
  max-height: 478px;
  overflow-y: scroll;
  overflow-x: hidden;
}
/*=================================*/

/*========= MONOKAI THEME COLORS =============*/
.background-dark {
  background-color: #272822;
}
.background-light {
  background-color: #686868;
}
.text-light {
  color: #c1c1c1;
}
.text-red {
  color: #F92672;
}
.text-blue {
  color: dodgerblue;
}
.text-orange {
  color: #FD971F;
}
.text-yellow {
  color: #e6db74;
}
.text-green {
  color: #A6E22E;
}
/*=================================*/


/*=========== ALL APPS PAGE STYLING ============*/

button {
  color: #272822;
}
.table {
  table-layout:fixed;
  margin-bottom: 0px;
}
.table td {
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.table tr {
  transition: all .4s ease;
}
/*============================================*/
/*=========== WELCOME PAGE STYLING ============*/
.loginJumbo {
  background-color: white;
}
.jumbo-image{
  background-size:cover;
  height:100%;
}
.container-fluid .jumbotron{
  border-radius: 0px;
  height: 80vh;
}
.container-fluid .jumbotron > .row {
  height: 100%;
}
.technologies {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}
.techbadge{
  margin:.3em;
  max-width:10em;
  max-height:10em;
}
.layout-middle {
  height: 70vh;
  width:100%;
  padding:0;
  margin: 4em 0 4em 0;
  display: flex;
  flex-flow: row wrap;
}

.layout-middle-img-cover {
  overflow: hidden;
  background-size: cover;
  opacity:.7;
  width:50%;
  background-position: center; 
}
.layout-middle-text {
  display: flex;
  width:50%;
  flex-direction: column;
  justify-content: center;
  padding: 8em;
  background-color: #fffcf4;
}
@media screen and (max-width: 800px){
 /* CSS definitions here */
 .layout-middle {
    margin: 1em 0 1em 0;
 }
 .layout-middle-img-cover {
  display:none;
 }
  .layout-middle-text {
    width:100%;
    padding: 3em
  }
}
.tour-button {
  width:8em;
  height: 8em;
}

/* ============== BAR GRAPH STYLING ============= */
.barGraph rect {
  fill: dodgerblue;
}
.barGraph rect:hover {
  fill: #A6E22E;
}
.barGraph text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

svg.barGraph {
  width: 100%;
  overflow:visible;
}
/* =========================================== */

.MainPageAppView .panel-heading:hover {
  color: white;
  background-color: #FD971F;
  cursor: pointer;
  transition: all .3s ease;
}
.loading {
  visibility: hidden;
}

/*=========== Add Load Balancer ============*/

.sampleSnippet {
  display: inline-block;
  padding: 25px;
  background-color: #FFEBEB;
}


/* =============== about page ==================== */
.team-member {
  min-height:100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  align-content:center;
}

/* ============================================== */

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
