/*=========== GRAPH STYLING  ===========*/
path {
  stroke: #A6E22E;
  stroke-width: 3;
  fill: none;
}

.panel {
  transition: all .5 ease;
}

.axis {
  shape-rendering: crispEdges;
}
svg#serverGraph {
  position: relative;
  align-content: center;
}
.xAxis-title {
  text-align: center;
}
.xAxis-subtitle {
  text-align: center;
  color: gray;
}
.linegraph-title{
  text-align: center;
}
.x.axis line {
  stroke: lightgrey;
}
.x.axis .minor {
  stroke-opacity: .5;
}
.x.axis path {
  /*display: none;*/
  stroke: #000;
}
.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}
.AppViewHeaderText {
  /*color: red;*/
  text-align: left;
}

.appsbar {
  fill: #66D9EF;
}

.appsbar:hover {
  fill: #F92672;
}

.axisM {
  font: 10px sans-serif;
}

.axisM path,
.axisM line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axisM path {
  display: none;
}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/*=======================================*/

/*========= My Server Styling =============*/

::-webkit-scrollbar {
    width: 0px;
}

.server-route-list {
  max-height: 478px;
  overflow-y: scroll;
  overflow-x: hidden;
}
/*=================================*/

/*========= MONOKAI THEME COLORS =============*/
.background-dark {
  background-color: #272822;
}
.background-light {
  background-color: #686868;
}
.text-light {
  color: #c1c1c1;
}
.text-red {
  color: #F92672;
}
.text-blue {
  color: #66D9EF;
}
.text-orange {
  color: #FD971F;
}
.text-yellow {
  color: #e6db74;
}
.text-green {
  color: #A6E22E;
}
/*=================================*/


/*=========== ALL APPS PAGE STYLING ============*/
body {
  color: black;
}
nav.navbar {
  background-color: #66D9EF;
}
/* override the gray link from navbar.less */
.navbar-default .navbar-brand:focus, 
.navbar-default .navbar-brand:hover{
  color:white;
}
/*navbar links*/
.navbar a, .navbar-brand{
  color: white;
}
.navbar-default .navbar-brand {
  color: white;
  transition: letter-spacing 0.5s ease;
}
.navbar-default .navbar-brand:hover {
  letter-spacing: .05em;
}
button {
  color: #272822;
}
.table {
  table-layout:fixed;
}
.table td {
  overflow-wrap: break-word;
  word-wrap: break-word;
}
/*============================================*/
/*=========== WELCOME PAGE STYLING ============*/




/* ============== BAR GRAPH STYLING ============= */
.barGraph rect {
  fill: #66D9EF;
}
.barGraph text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

svg.barGraph {
  width: 100%;
  overflow:visible;
}
/* =========================================== */

.MainPageAppView .panel-heading:hover {
  color: white;
  background-color: #FD971F;
  cursor: pointer;
}
.loading {
  visibility: hidden;
}


/*=========== Add Load Balancer ============*/

.sampleSnippet {
  display: inline-block;
  padding: 25px;
  background-color: #FFEBEB;
}
