/*=========== GRAPH STYLING  ===========*/
path {
  stroke: #A6E22E;
  stroke-width: 3;
  fill: none;
}

.axis {
  shape-rendering: crispEdges;
}
svg#serverGraph {
  position: relative;
  align-content: center;
}
.xAxis-title {
  text-align: center;
}
.xAxis-subtitle {
  text-align: center;
  color: gray;
}
.linegraph-title{
  text-align: center;
}
.x.axis line {
  stroke: lightgrey;
}
.x.axis .minor {
  stroke-opacity: .5;
}
.x.axis path {
  /*display: none;*/
  stroke: #000;
}
.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}
.AppViewHeaderText {
  /*color: red;*/
  text-align: left;
}

/*=======================================*/

/*========= My Server Styling =============*/

::-webkit-scrollbar {
    width: 0px;
}

.server-route-list {
  max-height: 478px;
  overflow-y: scroll;
  overflow-x: hidden;
}
/*=================================*/

/*========= MONOKAI THEME COLORS =============*/
.background-dark {
  background-color: #272822;
}
.background-light {
  background-color: #686868;
}
.text-light {
  color: #c1c1c1;
}
.text-red {
  color: #F92672;
}
.text-blue {
  color: #66D9EF;
}
.text-orange {
  color: #FD971F;
}
.text-yellow {
  color: #e6db74;
}
.text-green {
  color: #A6E22E;
}
/*=================================*/


/*=========== ALL APPS PAGE STYLING ============*/
body {
  color: black;
}
nav.navbar {
  background-color: #66D9EF;
}
nav.navbar a {
  color: white;
}
nav.navbar a:active {
  color: white;
}
.navbar-default .navbar-brand {
  color: white;
  transition: letter-spacing 0.5s ease;
}
.navbar-default .navbar-brand:hover {
  letter-spacing: .05em;
  color:white;
}
nav.navbar-default a {
}
.panel {
  color: #272822;
}
button {
  color: #272822;
}
.table {
  table-layout:fixed;
}
.table td {
  overflow-wrap: break-word;
  word-wrap: break-word;
}
/*============================================*/
/*=========== WELCOME PAGE STYLING ============*/




/* ============== BAR GRAPH STYLING ============= */
.barGraph rect {
  fill: #66D9EF;
}
.barGraph text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

svg.barGraph {
  width: 100%;
  overflow:visible;
}

/* =========================================== */

.MainPageAppView .panel-heading:hover {
  color: white;
  background-color: #FD971F;
  cursor: pointer;
}
.loading {
  visibility: hidden;
}
